@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* { margin: 0px; padding: 0px; box-sizing: border-box; font-family: 'Poppins', sans-serif; }

main { max-width: 1200px; margin: auto; text-align: center; padding: 50px; color: #4f5265; }
main > h1 { font-weight: 200; margin: 30px 0px 20px; font-size: 34px; }
p { font-weight: 400; color: #aaa; }
.line-break { display: block; }

.card-wrap { text-align: left; display: flex; gap: 30px; align-items: center; margin: 70px 0px 0px; }
.card-wrap > .card:first-child { border-top: 4px solid hsl(180, 62%, 55%); }
.card-wrap > .card:last-child { border-top: 4px solid hsl(212, 86%, 64%); }
.card { width: 32%; padding: 30px; border-radius: 5px 5px 8px 8px; box-shadow: 0px 10px 20px #4051b536; }
.card p { font-size: 14px; margin: 10px 0px; }
.card-mid { width: 32%; }
.card-mid .card { width: 100%; }
.card-mid .card:first-child { border-top: 4px solid hsl(0, 78%, 62%); }
.card-mid .card:last-child { border-top: 4px solid hsl(34, 97%, 64%); }
.card-mid .card:first-child { margin-bottom: 30px; }

.card img { display: block; margin: 30px 0 0 auto; }

@media (max-width: 768px){
    main { padding: 30px; }
    main > h1 { margin: 20px 0px 10px; font-size: 28px; }
    .card-wrap { gap: 25px; margin: 50px 0px 0px; }
    .card { padding: 25px; }
    .card-mid .card:first-child { margin-bottom: 25px; }
    .card img { margin: 25px 0 0 auto; }
}

@media (max-width: 667px){
    .card-wrap { display: block; }
    .card , .card-mid { width: 100%; margin-bottom: 25px; }
    .line-break { display: inline; }
}

@media (max-width: 375px){
    main > h1 { font-size: 22px; }
    main > p { font-size: 15px; }
}